<div class="clearfix editable">
  <div class="window-header-utils">
    <a class="icon-lg icon-close dark-hover js-close-window" href="#" title="Close this dialog window."></a>
  </div>
  <div class="window-header clearfix">
    <span class="window-header-icon icon-lg icon-card"></span> 
    <div class="window-title card-detail-title non-empty inline  editable  " attr="name">
      <h2 class="window-title-text current hide-on-edit">|Perry|[Adventist]Site migration</h2>
      <p class="edits-warning quiet">You have unsaved edits on this field. <a href="#" class="js-view-edits">View edits</a> or <a href="#" class="js-discard-edits">discard</a>.</p>
      <div class="edit edit-heavy"> <textarea type="text" class="field single-line"></textarea> </div>
      <div class="quiet hide-on-edit window-header-inline-content js-current-list">
        <p class="inline-block bottom">in list <strong>In Progress</strong></p>
      </div>
    </div>
  </div>
  <div class="window-main-col">
    <div class="card-detail-metadata clearfix gutter">
      
    </div>
    <div class="window-main-col-content clearfix">
    </div>
  </div>
</div>
